/* 
	SCSS Variables 
*/

/* Colours */
$navy: #14145A;
$orange: #F07350;
$aqua: #A5E0F0;
$blue: #1E73DC;
$white: #ffffff;
$off-white: #f2f2f2;
$slate: #96AAB9;
$light-grey: #D3DAE8;

/* Transitions & Others */
$subtle-shadow: 0px 2px 4px rgba(0,0,0,0.2);
$slow-ease: all 0.25s ease;

/* Breakpoints */


$small-desktop-break: 1080px;
$tablet-break: 770px;
$mobile-break: 450px;